  </main>
  <script>
    function showModal(id) {
      document.getElementById('modal-' + id).classList.add('active');
    }
    function hideModal(id) {
      document.getElementById('modal-' + id).classList.remove('active');
    }
  </script>
</body>
</html>
